.menu-bar{
  background:rgb(0,100,0);
  text-align:center;
}
.menu-bar ul{
  display:inline-flex;
  list-style:none;
  color:#fff;
}
.menu-bar ul li{
  width:120px;
  margin:5px;
  padding:2px;

}
.menu-bar ul li a{
  text-decoration:none;
  color:#fff;

}
.active,.menu-bar ul li:hover{
  background:#2bab0d;
  border-radius:3px;
}

.menu-bar .fa{
  margin-right:8px;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.footer{
  text-align: center;
}
.form{
  text-align: center;
  margin:5px;
  padding:2px;
}
.hmmm{
  text-align: center;
}
.upl{
  text-align: center;
}

.object:hover{
  cursor: pointer;
  /*transform: scale(1.03);*/
}

